pypdf2
tqdm
langchain_community
langchain_huggingface
langchain
langchain-core
faiss-cpu
huggingface-hub
ollama
openpyxl
psutil
transformers
matplotlib
pandas
scipy
statsmodels
ragas
langchain-ollama
dotenv
numpy

